@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  background: #020617;
  color: white;
  font-family: Inter, sans-serif;

  font-feature-settings:
    "cv02",
    "cv03",
    "cv04",
    "cv11";

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing:
    antialiased;

  -moz-osx-font-smoothing:
    grayscale;
}